*{
	margin :0;
	padding :0;
}

.all{
	/*background-color: grey; */
	/*height :600px;*/	
}

.top{
	/*background-color: red; */
	box-shadow: 1px 1px 7px black;
	background-color: #132238;
	/*/a/a/a/a/a//anow-----------*/
	position: fixed;
	z-index: 3;
	width: 100%;
}

.logo{
	background-color :#132238;
	height :50px;
}
.logo:hover{
	background-color :#273955;
	cursor: pointer;
}

.search-area{
	/*background-color :yellow;*/
	height :50px;
	display: none;
}

.search-button{
	/*background-color :grey;*/
	height :50px;
}	

#not-search-button{
	display: none;
}

.main{
	/*background-color: green ; */
	height :530px;
	position: absolute;
	width: 100%;
	top :50px;
}

.menu{
	/*background-color: yellow;*/
	height :100%;
	border-left :none;
	box-shadow: 1px 1px 7px black;
	 /*margin-left :5px; */
	margin-right: 10px ;
	margin-top :2px; 
	background-color: #364e68;
	position:fixed;
	z-index: 3;
}

.logo h1{
	font-size: 30px;
	margin-top:10px;
	margin-left :0px;
	margin-right :0px;
	color : #98ccd3;
	font-weight: bolder;
}

.search-area input{
	height :30px;
	margin-top :10px;
	width :100%;
	border: none ;
	padding-left :10px;
	box-shadow: 3px 3px 5px black;
	background-color: white;
}

.search-button button{
	height :30px;
	margin-top :10px;
	width :50%;
	border :none;
	color: #64c1e5;	
	font-weight: bold;
	font-size: 20px;
	box-shadow: 3px 3px 5px black;
	background-color :#2e3b55;
	display: inline;
}

.search-button button:hover{
	color: white ;
}


.search-button .log{
	color :black;
	margin-left :40px;
	font-size: 15px;
	margin-top :10px;
	display :inline;
}

.search-button .log:hover{
	color :blue;
	text-decoration: underline;
}

.categories{
	height: 80%;
	margin-top :10px;
} /* h2*/

.categories h2 {
	font-size: 23px ;
	padding :0;
	margin-top :5px;
}

.long-search{
	/*background-color: grey ;*/
	height :10%;
	margin-top :10px;
	margin-bottom: 50px ;
}

.category{
	color :white;
	font-weight: bold;
	text-shadow: 1px 1px 10px black;
}

.list{
	width:80%;
}

.long-search button{
	width :100%;
	height :40px;
	border :none;
	color: white;	
	font-weight: bolder;
	font-size: 25px;
	box-shadow: 1px 1px 10px black;
	background-color :#132238;
}

.long-search button:hover{
	background-color :#26364e;

}

.long-search button:hover{
	color: white;	
}

.display{
	min-height: 530px;
	margin :15px;
	margin-top :10px; 
	/*border: solid 2px black ;
	box-shadow: 3px 3px 5px black;
	background-color :#BFE3E3;*/
	position: absolute;
	right :10px;
	width: 80%;
	opacity: 1;
}

.top-docs , .new-docs , .follow-docs , .res-docs{
	margin-left :10px;
}

.doc2{
	width :180px;
	height :210px;
	background-color:rgb(215, 232, 233) ;
	margin :10px;	
	box-shadow: 1px 0px 7px black;
	opacity:1;
	padding: 0 ;
}

.doc2:hover{
	box-shadow: 1px 0px 15px black;
}

.doc2 .name-and-path{
	width :100%;
	margin :0;
	/*box-shadow: 1px 1px 5px black;*/
	margin-bottom: 2px ;
}

.doc2 .name-and-path h2{
	padding-top :10px;
	height :66px;
	font-size: 18px ;
	font-weight: bold ;
}

.doc2 .name-and-path h2  , h4{
	margin :0;
	text-align: center ;
}

.doc2 .doc2-img img{
	height: 150px;
	width: 100% ;
}

.doc2 .doc2-img{
	box-shadow: 3px 3px 5px black;
	margin-bottom: 2px ;
}
.doc2 .subject-type{
	background-color: #8dd3ef ;
	display: block ;
	/*box-shadow: 1px 1px 5px black;*/
	height :80px;
}

.doc2 .subject-type > div{
	width :50%;
	margin-top: 5px ;
}

.doc2 .subject-type div h4{
	padding-top :10px;
	font-size: 20px ;
	font-weight:bolder ;
	/*color :green;*/
}

.doc2 .footer h5{
	text-align: center ;
	margin-top: 5px; 
	height :20px;
	padding-top :10px;
}

.doc2 .footer{
	/*box-shadow: 3px 3px 5px black;*/
	margin-bottom: 2px ;
	height :35px;
}

.doc2:hover{
	cursor: pointer;
}

.fixed .round-upload button{
	position: fixed;
	top: 0px;
	right: 160px;
	height: 50px;
	width :200px;
	border: none;
	background-color: #132238;
	color :white;
	font-size: 20px;
	font-weight: bolder;
	display: none;
	z-index: 3;
}
.fixed .round-upload button:hover{
	background-color : #273852;	
}

.log-block h1{
	color :#ebf0f6;
	font-weight: bolder ;
}

.log-block{
	display: none ;
	width :60%;
	margin-top: 62px;
	margin-bottom: 15px ;
	opacity: 0.9;
	box-shadow: 3px 3px 5px black;
}

.login{
	background-color: #364e68 ;
}

.signup{
	background-color: #243547 ;
}

.signup h1{
	margin-top :0px;
}

#hr1{
	height :1px;
	margin: 0;
	padding: 0;
}

.block{
}

.block label{
	display: inline-block ;
	width :250px;
	text-align: left ;
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	color :white;
}

.block input{
	display :inline-block;
	width :200px;
}

.block select{
	width :200px;
}

#signup-button , #login-button{
	margin-top :20px;
	margin-bottom: 15px ;
	background-color: #132238 ;
	height :30px;
	width :120px;
	border :none;
	box-shadow: 1px 1px 10px black ;
	color :white;
	font-weight: bold ;
} 
#signup-button:hover , #login-button:hover{
	background-color: #2d405c
}

#login-title{
	padding-top :20px;
}
/* 992 */
@media only screen and (min-width : 993px){
	.stop{
		display :none;
	}
}
@media only screen and (max-width: 992px){
	.stop{
		background-color: #88bec3 ;
		color :#2e3b55;
		text-align: center ;
		position: fixed ;
		top :0px;
		right :0px;
		z-index: 10;
		height :100%;
		width :100%;
		opacity :1 !important; 
		display: block ;
	}
	.stop img{
		margin-top :20px;
		height :150px;
		width :150px;
	}
}
@media only screen and (max-width: 600px){
	.fixed .round-upload button{
		right :37%;
	}
	.doc{
		margin-left :10px;
		width: 80%;
	}
}

.upload-block{
	display: none ;
	min-height: 500px ;
	width :60%;
	margin-top: 62px;
	background-color: #364e68;
	opacity: 1;
	box-shadow: 3px 3px 5px black;
}

.upload-block h1{
	padding-top :30px;
	margin-bottom: 20px ;
	color :#ebf0f6;
	font-weight: bolder ;
}

/* class = log*/
.fixed-login{
	position: fixed ;
	top :0px;
	right :0px;
	z-index: 4;
	height: 50px;
	width :160px;
	border: none;
	background-color: #132238;
	color :white;
	font-size: 20px;
	font-weight: bolder ;
	text-align: center ;
	padding-top: 10px;
}

.fixed-login:hover{
	background-color: #273852 ;
	cursor: pointer;
}

.popup{
	position: fixed ;
	z-index: 5;
	right :0px; 
	top :100px;
	background-color: red;
	height: 70px;
	width :70px;
	border-radius: 40px;
	padding-top :12px;
	text-align: center ;
	box-shadow: 3px 3px 5px black;
	background-color: #d30000;
	font-size: 35px;
	font-weight: bold ;
	display: none ;
	opacity: 0;
}


.popup:hover{
	cursor: pointer ;
}

.profile-head{
	display: flex;
}

.profile-img{
	flex :2;
	 /*background-color:  #2e3b55 ; */
	height :200px;
	width :200px;
	border-radius: 100px;
	margin-top: 10px;
}

.profile-img img{
	height :200px;
	width :200px;
	border-radius: 100px;
	margin-left :7px;
	box-shadow: 3px 3px 5px black;
}

.profile-name{
	flex: 6;
	margin-left :20px;
}

.profile-name h1{
	font-size: 70px;
	font-weight: bold ;
	color :#2e3b55;
}

button:hover{	
	cursor: pointer ;
}

.notification{
	display: flex ;
	background-color: #84c4e0 ;	
	box-shadow: 3px 3px 10px black;
}

.notification div{
	margin: 10px;
	background-color: #BFE3E3 ;
	box-shadow: 3px 3px 5px black;
	padding-left: 10px;
}

.notification-pic{
	flex :1;
	border-radius: 60px;
}

.action{
	flex :3;
}

.notification-info{
	flex :3;
}

.notification-date{
	flex :2;
}

.preview{
	flex :2;
}

#follow-button{
	height :40px;
	width :250px;
	margin-top :20px;
	box-shadow: 3px 3px 5px black;
	background-color: #2e3b55;
	border :none;
	color :#64bcdc ;
	font-weight: bold ;
	font-size: 30px ;
}

.stop{
	opacity: 0;
}

body{
	/*background-image: url("../back.png");
	background-size: cover ;*/
	background-color: #ebf0f6 ;
}

.loading{
	background-color: #88bec3 ;
	position : fixed ;
	height :100%;
	width :100%;
	top :0;
	left :0;
	z-index: 10 ;
}

#load-gif{
	height :100px;
	position: fixed ;
	top :44%;
	right :50%;
}

#doc-viewer{
	position: fixed;
	top :0px;
	right :0px;
	height :100%;
	width :100%;
	z-index: 5;
	opacity: 0.7;
	background-color :black;
}

#doc-iframe{
	position: fixed;
	top :0px;
	left :10%;
	z-index: 6;
	height :100%;
	width :80%;
}



#close-div{
	position : fixed;
	top :0; 
	right :0;
	z-index: 7;
	height :40px;
	width :40px;
}

#close-div:hover{
	cursor: pointer;
}

#doc-section{
	display: none;
}

#report-file{
	position: fixed;
	bottom :10px;
	left :10px;
	background-color :#63261b;
	height :40px;
	width :120px;
	z-index :6;
	font-weight: bold ;
	color :white;
	border :none;
	font-size: 25px ;
}
/*https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fd2v9y0dukr6mq2.cloudfront.net%2Fvideo%2Fthumbnail%2FJrbItQz%2Fglowing-futuristic-network-shape-loopable-background-4k-4096x2304_nvzq1ms0g__F0000.png&f=1 */