/* Importing fonts from fonts.google.com to use them my web page */
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Questrial|Ropa+Sans');

*{
	margin :0;
	padding :0;
}

.all{
	/*background-color: grey; */
	/*height :600px;*/	
}

.top{
	/*background-color: red; */
	box-shadow: 1px 1px 7px black;
	background-color: white;
	/*/a/a/a/a/a//anow-----------*/
	position: fixed;
	z-index: 3;
	width: 100%;
}

.logo{
	background-color :white;
	height :50px;
}
.logo:hover{
	background-color :whitesmoke;
	cursor: pointer;
}

.search-area{
	/*background-color :yellow;*/
	height :50px;
	display: none;
}

.search-button{
	/*background-color :grey;*/
	height :50px;
}	

#not-search-button{
	display: none;
}

.main{
	/*background-color: green ; */
	height :530px;
	position: absolute;
	width: 100%;
	top :50px;
}

.menu{
	/*background-color: yellow;*/
	height :100%;
	border-left :none;
	box-shadow: 1px 1px 4px rgb(141, 134, 134);
	 /*margin-left :5px; */
	margin-right: 10px ;
	margin-top :0px; 
	background-color: #ebf0f6;
	position:fixed;
	z-index: 2;
}

.logo h1{
	font-size: 30px;
	margin-top:10px;
	margin-left :0px;
	margin-right :0px;
	color : #98ccd3;
	font-weight: bolder;
}

.search-area input{
	height :30px;
	margin-top :10px;
	width :100%;
	border: none ;
	padding-left :10px;
	box-shadow: 3px 3px 5px black;
	background-color: white;
}

.search-button button{
	height :30px;
	margin-top :10px;
	width :50%;
	border :none;
	color: #64c1e5;	
	font-weight: bold;
	font-size: 20px;
	box-shadow: 3px 3px 5px black;
	background-color :#2e3b55;
	display: inline;
}

.search-button button:hover{
	color: white ;
}


.search-button .log{
	color :black;
	margin-left :40px;
	font-size: 15px;
	margin-top :10px;
	display :inline;
}

.search-button .log:hover{
	color :blue;
	text-decoration: underline;
}

.categories{
	height: 70%;
	margin-top :0px;
	margin-bottom: 20px ;
} /* h2*/

.categories h2 {
	font-size: 18px ;
	padding :0;
	margin-top :5px;
	color :#132238;
	font-weight: bold ;
}

.long-search{
	/*background-color: grey ;*/
	height :10%;
	margin-top :10px;
	margin-bottom: 50px ;
}

.category{
	color :white;
	font-weight: bold;
	/*text-shadow: 1px 1px 10px black;*/
	font-family: 'Bree Serif', serif;
}

.list{
	width:90%;
	height  :23px;
	border-radius: 2px ;
}

.long-search button{
	width :100%;
	height :35px;
	border :none;
	color: #132238;	
	font-weight: bolder;
	font-size: 25px;
	/*box-shadow: 1px 1px 10px black;*/
	background-color :#b8c5da;
	margin-top:10px;
	font-family: 'Bree Serif', serif;
}

.long-search button:hover{
	background-color :#a0afc5;
	box-shadow: 1px 1px 5px black;
}

.display{
	min-height: 530px;
	margin :15px;
	margin-top :10px; 
	/*border: solid 2px black ;
	box-shadow: 3px 3px 5px black;
	background-color :#BFE3E3;*/
	position: absolute;
	right :10px;
	width: 80%;
	opacity: 1;
}

.top-docs , .new-docs , .follow-docs , .res-docs{
	margin-left :10px;
}

.doc2{
	width :180px;
	height :235px;
	background-color:rgb(215, 232, 233) ;
	margin :10px;	
	box-shadow: 1px 0px 7px black;
	opacity:1;
	padding: 0 ;
	overflow: hidden;
	-webkit-transition-property: transform; /* Safari */
  	-webkit-transition-duration: 1s; /* Safari */
  	transition-property: transform;
  	transition-duration: 1s;
}

/* doc 3 start here*/
.doc3{
	width: 100% ;
	height :50px;
	display: flex ;
	margin-top: 10px ;
	margin-bottom: 10px ;
	background-color :whitesmoke;
	box-shadow: 1px 1px 5px #3d4d66 ;
	padding :0px;
}

.doc3:hover{
	cursor: pointer;
}

.doc3:hover > .name-and-path{
	background-color: white ;
}
.doc3:hover > .footer{
	background-color: white ;
}

.doc3 .subject-type{
	width :20%;
}

.doc3 .name-and-path{
	background-color: whitesmoke ;
	width :70%;
	display: flex ;
}

.doc3 .name-and-path h2{
	margin-left: 10px ;
	font-size: 14px ;
	flex :4;
	font-weight: bold ;
}

.doc3 .name-and-path h4{
	font-size: 12px ;
	flex: 1 ;
	margin-top: 20px ;
	font-weight: bold ;
}

.doc3 .footer{
	background-color: whitesmoke ;
	width :30%;
	padding-left :10px;
}

.doc3 .footer h5{
	margin-top :18px;
}
/* doc 3 ends here*/



.doc2:hover{
	box-shadow: 1px 0px 15px black;
	transform: scale(1.04) ;
}

.doc2 .name-and-path{
	width :100%;
	margin :0;
	/*box-shadow: 1px 1px 5px black;*/
	margin-bottom: 2px ;
}

.doc2 .name-and-path h2{
	padding-top :10px;
	height :70px;
	font-size: 18px ;
	font-weight: bold ;
}

.doc2 .name-and-path h2  , h4{
	margin :0;
	text-align: center ;
}

.doc2 .doc2-img img{
	height: 150px;
	width: 100% ;
}

.doc2 .doc2-img{
	box-shadow: 3px 3px 5px black;
	margin-bottom: 2px ;
}
.doc2 .subject-type{
	background-color: #8dd3ef ;
	display: block ;
	/*box-shadow: 1px 1px 5px black;*/
	height :90px;
	border-bottom :solid 2px #132238;
}


.doc2 .subject-type > div{
	width :50%;
	margin-top: 5px ;
}

.doc2 .subject-type div h4{
	padding-top :10px;
	font-size: 20px ;
	font-weight:bolder ;
	/*color :green;*/
	font-family: 'Bree Serif', serif;
}

.doc2 .footer h5{
	text-align: center ;
	margin-top: 5px; 
	height :20px;
	padding-top :10px;
}

.doc2 .footer{
	/*box-shadow: 3px 3px 5px black;*/
	margin-bottom: 2px ;
	height :35px;
}

.doc2:hover{
	cursor: pointer;
}

.fixed .round-upload button{
	position: fixed;
	top: 0px;
	right: 200px;
	height: 50px;
	width :150px;
	border: none;
	background-color: white;
	color :#132238;
	font-size: 20px;
	font-weight: bolder;
	display: none;
	z-index: 3;
	font-family: 'Bree Serif', serif;
}
.fixed .round-upload button:hover{
	background-color : whitesmoke;	
}

.log-block h1{
	color :#ebf0f6;
	font-weight: bolder ;
}

.log-block{
	display: none ;
	width :60%;
	margin-top: 62px;
	margin-bottom: 15px ;
	opacity: 0.9;
	box-shadow: 3px 3px 5px black;
}

.login{
	background-color: #364e68 ;
}

.signup{
	background-color: #243547 ;
}

.signup h1{
	margin-top :0px;
	font-family: 'Bree Serif', serif;
}

#hr1{
	height :1px;
	margin: 0;
	padding: 0;
}

.block{
}

.block label{
	display: inline-block ;
	width :250px;
	text-align: left ;
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	color :white;
	font-family: 'Bree Serif', serif;
}

.block input{
	display :inline-block;
	width :200px;
	border :none; 
	height :30px;
	border-radius: 30px ;
}

.block select{
	width :200px;
	border :none; 
	height :30px;
	border-radius: 30px ;
}

#signup-button , #login-button{
	margin-top :20px;
	margin-bottom: 15px ;
	background-color: #132238 ;
	height :30px;
	width :120px;
	border :none;
	box-shadow: 1px 1px 10px black ;
	color :white;
	font-weight: bold ;
} 
#signup-button:hover , #login-button:hover{
	background-color: #2d405c
}

#login-title{
	padding-top :20px;
	font-family: 'Bree Serif', serif;
}
/* 992 */
@media only screen and (min-width : 993px){
	.stop{
		display :none;
	}
}
@media only screen and (max-width: 992px){
	.display{
		display: block !important;
		/*background-color: black ;*/
		width :100% !important;
		top :250px !important;
		left :380px !important;
	}
	.fastTrack{
		/*background-color: red ; */
		position: fixed !important;
		top: 140px !important ;
		left: 50px !important ;
	}
	#fastTrack{
		top: 120px !important ;
		height: 70px !important ;
		font-size: 30px !important;
		width: 400px !important ;
	}

	.top{
		height :200px !important;
	}
	.help-bar a{
		top: 110px !important ;
		right: 0px !important ;
		height: 80px !important ;
		width :200px !important ;
		z-index: 3;
	}
	
	.help-bar a h1{
		font-size: 50px !important ;
	}
	/* help over  */
	.stop{
		background-color: #88bec3 ;
		color :#2e3b55;
		text-align: center ;
		position: fixed ;
		top :0px;
		right :0px;
		z-index: 10;
		height :100%;
		width :100%;
		opacity :1 !important; 
		display: none ;
	}
	.stop img{
		margin-top :20px;
		height :150px;
		width :150px;
	}
	.menu{
		display: block ;
		width: 350px !important;
		margin-top: 150px ;
		box-shadow: 1px 1px 5px black ;
	}

	.categories .category{
		font-size: 40px ;
	}

	.categories .list{
		font-size: 30px ;
		height: 50px ;
		width: 100% ;
	}

	#colors-helper{
		display: block !important;
		width: 100% !important ;
		margin-top :0px !important;
		margin-left: 0px;
		margin-bottom: 350px ;
	}
	#no-results{
		margin-left :150px;
	}

	#colors-helper div {
		width: 100% ;
		height: 70px ;
		margin: 20px ;
	}

	#colors-helper div h3 {
		font-size: 50px ;
	}

	.fixed-login{
		display: none ;
	}
	.logo{
		height :40px;
		width: 100% ;
		padding-left :30% ;
		z-index: 5;
	}
	#silogo{
		height :130px !important; 
		width: 400px !important ;
		margin-left: auto ;
		margin-right: auto ;	
	}

	.doc2{
		width: 65% ;
		height :600px !important;
		margin-left: 150px !important;
	}

	.doc3{
		margin-left: 0px !important;
		display: block !important;	
		/*background-color: yellow !important; */
		margin-top :160px !important;
		margin-bottom: 10px !important;
		height :400px !important;
	}

	.doc3 .subject-type{
		height :150px !important;
		/*width: 50% !important; */
		width :100% !important;
	}

	.doc3 .subject-type h4{
		font-size :50px !important;
	}
	
	.doc3 .name-and-path{
		width :100% !important;
		/*background-color: red !important ; */
		height :250px !important;
		display: flex !important;
	}
	.name-and-path h2{
		flex :1 !important;
		font-size: 38px !important ;
		height: 200px !important;
	}

	.name-and-path h4{
		flex :2 !important;
		font-size: 35px !important;
		overflow: hidden !important ;
	}

	.doc3 .footer {
		/*background-color: green ; */
		font-size: 30px !important ;
		height: 50px ;
		width: 100% ;
		/*display: none ; */
	}

	.doc3 .footer h5{
		padding-top :10px;
		/*background-color: blue ; */
		font-size: 30px ;
		width :400px;
		margin-left :auto;
		margin-right :auto;
		margin-top :0px;
	}

	.top-docs{
		margin-top: 50px ;
	}

	.long-search button{
		font-size: 50px ;
		height: 100px ;
	}
	#doc-iframe{
		position: fixed;
		top :50px !important;
		left :10%;
		z-index: 6;
		height :40% !important;
		width :80% !important;
	}

}
@media only screen and (max-width: 600px){
	.fixed .round-upload button{
		right :37%;
	}
	.doc{
		margin-left :10px;
		width: 80%;
	}
}

.upload-block{
	display: none ;
	min-height: 500px ;
	width :60%;
	margin-top: 62px;
	background-color: #364e68;
	opacity: 1;
	box-shadow: 3px 3px 5px black;
}

.upload-block h1{
	padding-top :30px;
	margin-bottom: 20px ;
	color :#ebf0f6;
	font-weight: bolder ;
	font-family: 'Bree Serif', serif;
	text-shadow: 1px 1px 5px black ;
}

/* class = log*/
.fixed-login{
	position: fixed ;
	top :0px;
	right :0px;
	z-index: 4;
	height: 50px;
	width :120px;
	border: none;
	background-color: white;
	color :#132238;
	font-size: 20px;
	font-weight: bolder ;
	text-align: center ;
	padding-top: 10px;
	font-family: 'Bree Serif', serif;
}

.fixed-login:hover{
	background-color: whitesmoke ;
	cursor: pointer;
}

.popup{
	position: fixed ;
	z-index: 5;
	right :0px; 
	top :100px;
	background-color: red;
	height: 70px;
	width :70px;
	border-radius: 40px;
	padding-top :12px;
	text-align: center ;
	box-shadow: 3px 3px 5px black;
	background-color: #d30000;
	font-size: 35px;
	font-weight: bold ;
	display: none ;
	opacity: 0;
}


.popup:hover{
	cursor: pointer ;
}

.profile-head{
	display: flex;
}

.profile-img{
	flex :2;
	 /*background-color:  #2e3b55 ; */
	height :200px;
	width :200px;
	border-radius: 100px;
	margin-top: 10px;
}

.profile-img img{
	height :200px;
	width :200px;
	border-radius: 100px;
	margin-left :7px;
	box-shadow: 3px 3px 5px black;
}

.profile-name{
	flex: 6;
	margin-left :20px;
}

.profile-name h1{
	font-size: 70px;
	font-weight: bold ;
	color :#2e3b55;
}

button:hover{	
	cursor: pointer ;
}

.notification{
	display: flex ;
	background-color: #84c4e0 ;	
	box-shadow: 3px 3px 10px black;
}

.notification div{
	margin: 10px;
	background-color: #BFE3E3 ;
	box-shadow: 3px 3px 5px black;
	padding-left: 10px;
}

.notification-pic{
	flex :1;
	border-radius: 60px;
}

.action{
	flex :3;
}

.notification-info{
	flex :3;
}

.notification-date{
	flex :2;
}

.preview{
	flex :2;
}

#follow-button{
	height :40px;
	width :250px;
	margin-top :20px;
	box-shadow: 3px 3px 5px black;
	background-color: #2e3b55;
	border :none;
	color :#64bcdc ;
	font-weight: bold ;
	font-size: 30px ;
}

.stop{
	opacity: 0;
}

body{
	/*background-image: url("../back.png");
	background-size: cover ;*/
	background-color: #ebf0f6 ;
}

.loading{
	background-color: #98ccd3 ;
	position : fixed ;
	height :100%;
	width :100%;
	top :0;
	left :0;
	z-index: 10 ;
}
.loading h1 {
	/*background-color: red ;*/
	width :400px;
	color :#132238;
	font-size: 45px ;
	font-weight: bolder ;
	margin-left :auto;
	margin-right :auto;
}

#load-gif{
	height :100px;
	margin-left :auto;
	margin-right :auto;
	margin-top :20px;

	border: 16px solid #ebf0f6;
	border-radius: 50%;
	border-top: 16px solid #132238;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 1s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


#doc-viewer{
	position: fixed;
	top :0px;
	right :0px;
	height :100%;
	width :100%;
	z-index: 5;
	opacity: 0.7;
	background-color :black;
}

#doc-iframe{
	position: fixed;
	top :0px;
	left :10%;
	z-index: 6;
	height :100%;
	width :80%;
}



#close-div{
	position : fixed;
	top :0; 
	right :0;
	z-index: 7;
	height :40px;
	width :40px;
}

#close-div:hover{
	cursor: pointer;
}

#doc-section{
	display: none;
}

#report-file{
	position: fixed;
	bottom :10px;
	right :10px;
	background-color :#e28b28;
	height :40px;
	width :120px;
	z-index :6;
	font-weight: bold ;
	color :#132238;
	border :none;
	font-size: 25px ;
	display :block; 
	box-shadow: 1px 1px 5px white ;
}

#report-file:hover{
	box-shadow: 1px 1px 7px white ;
}

.report-alert{
	display :none;
	width :100%;
	height :100%;
	position: fixed ;
	z-index: 7;
	top :0px;
}

#report-alert-inner{
	margin-top :60px ;
	background-color :#364e68;
	width: 80% ;
	padding-bottom: 20px ;
	padding-top :20px;
	box-shadow: 1px 1px 10px black ;
}

#report-alert-inner h2 , label{
	font-size: 30px ;
	color :white; 
	font-weight :bolder;
}

#report-alert-inner button{
	margin-top :10px;
	height :40px;
	width :200px;
	background-color: #98ccd3 ;
	color :#132238;
	border :none;
	font-weight: bold ;
	font-size: 20px ;
	box-shadow: 1px 1px 5px white ;
	margin-right :10px;
}

#report-alert-inner button:hover{
	box-shadow: 1px 1px 7px white ;

}

#no-results{
	display :none;
}

.small-hr{
	padding: 0 ;
	margin :5px;
	border-top :1px solid #111314;
	width: 100% ;
 }

#silogo{
	height :50px;
	width: 180px ;
}

#loading-logo{
	height: 100px ;
	width :100px;
	margin-left :auto;
	margin-right :auto;
}

#colors-helper{
	height :37px; 
	width: 100% ;
	/*background-color: red ;	*/
	display: flex;
}

.color-box{
	flex :1;
	background-color: green ;
	margin-left :3px;
	margin-right :3px;
	text-align: center;
	box-shadow: 1px 1px 5px rgb(59, 58, 58) ;
	border-radius: 0px ;
}

.color-box h3{
	text-shadow: 1px 1px 1px rgb(39, 38, 38);
	font-family: 'Bree Serif', serif;
	font-weight: bold ;
	margin: 2px ;
}

.color-box:hover{
	cursor: pointer;
	box-shadow: 1px 1px 7px rgb(39, 38, 38) ;

}

.red-box{
	flex: 2 ;
	background-color: #9DC8C8;
}

.green-box{
	background-color: #58C9B9 ;
}

.orange-box{
	background-color: #519D9E ;
}

.yellow-box{
	background-color: #D1B6E1 ;
}

.all-box{
	background:
        linear-gradient(#D1B6E1, transparent),
		linear-gradient(to top right, rgb(61, 148, 150), transparent),
		linear-gradient(to top right, rgb(176, 141, 196), transparent);
    background-blend-mode: screen;
}

.categories select{
	color :rgb(58, 126, 153);
	background-color: #b8c5da ;
	border :none;
	font-weight: bold ;
}

.login .block input{
	background-color: #1d314e ; 
	color :white;
	font-weight: bold ;
	padding-left: 15px ;
}

.signup .block input{
	background-color: #3d4d66 ; 
	color :white;
	font-weight: bold ;
	padding-left: 15px ;
}

.signup .block select{
	background-color: #3d4d66 ; 
	color :white;
	font-weight: bold ;
	padding-left: 15px ;
}

.upload-block .block select{
	background-color: #233147 ; 
	color :white;
	font-weight: bold ;
	padding-left: 15px ;
}

/* shake */

@keyframes shake {
	0% { transform: translate(0px, 1px) rotate(0deg); }
	10% { transform: translate(0px, -2px) rotate(-1deg); }
	20% { transform: translate(0px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(0px, -1px) rotate(1deg); }
	50% { transform: translate(0px, 2px) rotate(-1deg); }
	60% { transform: translate(0px, 1px) rotate(0deg); }
	70% { transform: translate(0px, 1px) rotate(-1deg); }
	80% { transform: translate(0px, -1px) rotate(1deg); }
	90% { transform: translate(0px, 2px) rotate(0deg); }
	100% { transform: translate(0px, -2px) rotate(-1deg); }
}


.help-bar a{
	position: fixed;
	top: 0px;
	right: 110px;
	height: 50px;
	width :100px;	
	border: none;
	background-color: white;
	z-index: 3;
	
}

.help-bar a h1{
	animation: shake 1.5s;
	animation-iteration-count: infinite;
	font-family: 'Bree Serif', serif;
	font-size: 21px;
	color :#132238;
	font-weight: bolder;
	margin-top: 9px ;
	width: 50% ;
	margin-left: auto ;
	margin-right :auto;
	text-decoration: none;
}

.help-bar a:hover{
	background-color : whitesmoke;	
	text-decoration: none;
}

.fastTrack{
	display: inline;
}

.fastTrack h1{
	display: inline;
	position: relative;
	top: 10px ;
	left :0px ;
	font-size: 25px ;
	padding :0;
	margin: 0 ;
	margin-top: 20px ;
	padding-top :20px;
	color: #132238 ;
	font-family: 'Bree Serif', serif;
	margin-right: 20px ;
	font-weight: bolder ;
	width: 100px ;
}

.fastTrack select{
	background-color: #c6d1e4 ;
	border: none ;
	display: inline;
	position: fixed;
	top :5px;
	height :40px;
	color :#132238;
	margin-top: 0px ;
	font-weight: bolder ;
	/*width :300px; */
	width: 250px ;
	font-size: 20px ;
	border-radius: 2px ;
}
/*https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fd2v9y0dukr6mq2.cloudfront.net%2Fvideo%2Fthumbnail%2FJrbItQz%2Fglowing-futuristic-network-shape-loopable-background-4k-4096x2304_nvzq1ms0g__F0000.png&f=1 */